<h1>Log in</h1>
  <%= simple_form_for @user, url: sessions_path, html: { class: 'form-vertical' } do |f| %>
    <%= f.input :email, required: false, label: 'Email Address', placeholder: 'Email Address' %>
    <%= f.input :password, required: false, label: 'Password', placeholder: 'Password' %>
    <label class="checkbox">
      <%= check_box_tag :remember_me, 1, params[:remember_me] %>
      Remember me
    </label>
    <%= f.submit "Log in" %>
    <p><%= link_to 'Forgot your password?', new_reset_password_path %></p>
  <% end %>
